* {
  margin: 0px;
  padding: 0px;
}
header {
  background-color: black;
}
header nav {
  text-align: center;
}

header nav ul {
  list-style-type: none;
}
header nav ul li a {
  text-decoration: none;
  color: aliceblue;
}

main {
  text-align: center;
}

main.desription {
  width: 50px;
}

main .image-conteiner img {
  width: 250px;
  height: 200px;
}
footer {
  text-align: center;
  background-color: black;
}
footer p {
  color: #fff;
}

*{
  margin: 0px;
  padding: 0px;
}
header nav ul li {
  text-align: center;
  background-color: black;
}


header nav ul li a {
  text-decoration: none;
  color: aliceblue;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  gap: 20px; 
  padding: 20px;
}

main section{
  text-align: center;
}

footer {
  text-align: center;
  background-color: black;
}

footer h4{
color: white;
}

footer p{
  color: white;
}